<% @blogs.each do |blog| %>
    <a href = "/blogs/<%= blog.id%>"> show </a>
    <div>
        <ul>
            <li>id: <%= blog.id %></li>
            <li>title:  <%= blog.title %></li>
            <li>description: <%= blog.description %></li>
        </ul>
        <hr />
    </div>
<% end %>


